# DJANGO  CONFS
# CI: Set to "true" by CI systems like GitHub Actions.
# For local development, this should be "false" or not set to use local Redis configuration.
# CI=false
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# Renamed to CORS_ALLOWED_ORIGINS and added the full client origin
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SECRET_KEY=dev_secret_key_change_in_production
# DB CONFS
DB_NAME=shillers
DB_USER=dev
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=5432
# REDIS CONFS
REDIS_HOST=redis
REDIS_PORT=6379
# API KEYS
INFURA_PROJECT_ID=9e46cd5c5c944f31a9738202e83c0e0b
STATE_VIEW_ADDRESS=0xe1dd9c3fa50edb962e442f60dfbc432e24537e4c
POOL_ID=0xdcb7fb4f33aec4a3a9708e1634e53c30ba51d01fd78bd04693a11d5a02c0cd52